body {
    padding-bottom: 70px;
    margin: 0;
    /*background: linear-gradient(black, white);*/
    background: grey url(/res/background.jpg) no-repeat fixed center top;
    background-size: cover;
    /*display: table;*/
}
.head-block{
    height:250px;
}
